<footer>
  <div>
    <a href="mailto:r.pasolari@gmail.com" style="margin: 0 1rem;">
      <img src="https://img.icons8.com/color/50/circled-envelope.png" alt="Email">
    </a>
    <a href="https://github.com/rpasolari" target="_blank" style="margin: 0 1rem;">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/github.png" alt="GitHub">
    </a>
    <a href="https://linkedin.com/in/rpasolari" target="_blank" style="margin: 0 1rem;">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://orcid.org/0000-0002-6138-4832" target="_blank" style="margin: 0 1rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/0/06/ORCID_iD.svg" alt="ORCID">
    </a>
    <a href="https://scholar.google.com/citations?user=ayuabI8AAAAJ&hl=en" target="_blank" style="margin: 0 1rem;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/c/c7/Google_Scholar_logo.svg" alt="Google Scholar">
    </a>
  </div>
  <p>&copy; {{ "now" | date: "%Y" }} Rention Pasolari. All rights reserved.</p>
  <p>Hosted on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.</p>
</footer>