/* Go to top button */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--button-background-color);
  color: white;
  font-size: 16px;
  font-family: var(--button-font);
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  align-items: center;
  gap: 13px; 
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1000; 
}

#scrollToTopBtn .triangle {
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid white;
  margin-top: 2px;
}

#scrollToTopBtn .text {
  line-height: 1;
  position: relative;
}

#scrollToTopBtn:hover {
  background-color: black; 
}

#scrollToTopBtn.show {
  display: inline-flex;
}
