:root {
  /* CSS variables for container width */
  --container-width: clamp(10%, 40%, 80%);
  --container-max-width: 80%;
  --container-min-width: 0.1%;
}
* {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
}

body {
    margin: 0;
    padding: 0; 
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 1.5;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--body-background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

main {
    display: flex; 
    flex-direction: column; 
    justify-content: start; /* Vertically centers content */
    align-items: center; /* Horizontally centers content */
    width: 1000px; 
    max-width: 90%; 
    padding: 0; 
    margin: 0;
    background-color: var(--body-background-color);
    text-align: center; 
    box-sizing: border-box;
}

.content-container {
    display: flex; /* Enables flexible layout inside the container */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: flex-start; /* Aligns items to the top */
    width: 100%; /* Takes the full width of the parent (main) */
    padding: 1.5rem; /* Adds internal spacing */
    box-sizing: border-box; /* Includes padding and border in total width/height */
    gap: 1rem; /* Adds spacing between child elements */
    overflow-y: visible; /* Enables vertical scrolling for overflowing content */
}

/* Footer settings */
footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  margin-top: 0px;
  font-size: var(--footer-copyright-font-size);
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

footer a img{
  text-decoration: none;
  width: 30px;
  height: 30px;
}

footer div {
  display: flex;
  justify-content: center; 
  gap: 15px;
}

footer p {
  margin-top: 15px;
}

/*.section-with-image-right {
  width: 100%;
  margin: 20px 0;
}

.section-with-image-right .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  float: right;
  font-weight: bold;
  padding: 40px;
  shape-outside: circle();

}
.section-with-image-right .text {
  text-align: left;
}
.section-with-image-left{
  width: 100%;
  margin: 20px 0;
}
.section-with-image-left .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  float: left;
  font-weight: bold;
  padding: 40px;
  shape-outside: circle();
}
.section-with-image-left .text {
  text-align: right;
}

.full-width-box {
  position: relative; 
  width: calc(100vw - 16px);
  padding: 30px 0;
  background-color: var(--second-body-background-color);
  box-sizing: border-box;
}

.full-width-box .inner-content {
  width: var(--container-width); 
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  margin: 0 auto; 
  text-align: center;
  box-sizing: border-box;
}

.full-width-box .inner-content-left {
  text-align: left;
}

.full-width-box-primary {
  background-color: var(--body-background-color);
}

.full-width-box-secondary {
  background-color: var(--second-body-background-color);
  border-top: 4px solid var(--line-dark-color);
  border-bottom: 4px solid var(--line-dark-color);
}


.breadcrumb {
  width: var(--container-width);
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  height: auto;
  margin: 130px auto 0 auto;
  font-size: var(--breadcrumb-font-size);
  color: #555;
  box-sizing: border-box;
  text-align: left; 
}

.breadcrumb p {
  margin: 0;
  font-family: var(--breadcrumb-font); 
}

h1 {
  font-size: var(--heading1-font-size);
  font-weight: bold;
  color: var(--heading1-color);
  margin-bottom: 24px;
  margin-top: 0px;
}



h2 {
  font-size: var(--heading2-font-size);
  font-weight: bold;
  color: var(--heading2-color);
  margin: 32px 0px;
}

p {
  font-size: var(--text-color);
  font-weight: normal;
  margin: 16px 0px;
  line-height: 1.5;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  hyphens: auto; 
}

ul {
  padding-left: 24px;
  margin: 16px 0px;
}

li {
  margin-bottom: 8px;
  line-height: 1.5;
}

a {
  color: var(--url-color);
  text-decoration: None;
}

a:hover {
  color: var(--url-hover-color);
  text-decoration: None;
}


.monitor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.monitor-container .image {
  width: 60vw; 
  max-width: 90vw;
  min-width: 10vw; 
  height: auto;
} */

