:root {
  /* CSS variables for container width */
  --main-width: 1000px;
  --main-max-width: 90vw;
}

* {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-text-size-adjust: 100%;
    touch-action: manipulation;
}

body {
    margin: 0;
    padding: 0; 
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: 1.5;
    display: flex; 
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--body-background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

main {
    display: flex; 
    flex-direction: column; 
    justify-content: start; /* Vertically centers content */
    align-items: center; /* Horizontally centers content */
    width: var(--main-width); 
    max-width: var(--main-max-width); 
    padding: 0; 
    margin: 0;
    background-color: var(--body-background-color);
    text-align: center; 
    box-sizing: border-box;
}

h1 {
  font-size: var(--heading1-font-size);
  font-weight: bold;
  color: var(--heading1-color);
  margin-bottom: 5px;
  margin-top: 0px;
}



h2 {
  font-size: var(--heading2-font-size);
  font-weight: bold;
  color: var(--heading2-color);
  margin: 32px 0px;
}

p {
  font-size: var(--text-color);
  font-weight: normal;
  margin: 16px 0px;
  line-height: 1.5;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  hyphens: auto; 
}

ul {
  padding-left: 24px;
  margin: 16px 0px;
}

li {
  margin-bottom: 8px;
  line-height: 1.5;
}

a {
  color: var(--url-color);
  text-decoration: None;
}

a:hover {
  color: var(--url-hover-color);
  text-decoration: None;
}

section {
    margin: 0 auto; /* Centers the content */
    padding: 0rem; /* Provides consistent internal spacing */
    max-width: var(--main-max-width); /* Respects the main width variable */
}

.content-container {
    display: flex; /* Enables flexible layout inside the container */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: flex-start; /* Aligns items to the top */
    width: 100%; /* Takes the full width of the parent (main) */
    padding: 1.5rem; /* Adds internal spacing */
    box-sizing: border-box; /* Includes padding and border in total width/height */
    gap: 1rem; /* Adds spacing between child elements */
    overflow-y: visible; /* Enables vertical scrolling for overflowing content */
}

/* Footer settings */
footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  display: flex;
  align-items: center;
  flex-direction: column; 
  width: 100%;
  margin-top: 0px;
  font-size: var(--footer-copyright-font-size);
  padding-bottom: 20px;
  padding-top: 30px;
  box-sizing: border-box;
}

footer a img{
  text-decoration: none;
  width: 30px;
  height: 30px;
}

footer div {
  display: flex;
  justify-content: center; 
  gap: 15px;
}

footer p {
  margin-top: 15px;
}

.section-with-image-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px 0; 
  flex-wrap: wrap;
}

.section-with-image-right .text {
  flex: 0 0 60%; 
  text-align: justify; 
  padding-right: 10px;
}

.section-with-image-right .image {
  flex: 0 0 30%;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.section-with-image-right .image img {
  width: 100%;
  max-width: 400px; 
  height: auto; 
  border-radius: 10%;

}

@media screen and (max-width: 768px) {
  .section-with-image-right {
    flex-direction: column;
    justify-content: center;
  }

  .section-with-image-right .image img {
    max-width: 350px; /* Reduces the image size for smaller screens */
  }

}

.section-with-image-left{
  width: 100%;
  margin: 20px 0;
}
.section-with-image-left .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  float: left;
  font-weight: bold;
  padding: 40px;
  shape-outside: circle();
}
.section-with-image-left .text {
  text-align: right;
}

.full-width-box {
  position: relative; 
  width: 100vw;
  padding: 30px 0;
  background-color: var(--second-body-background-color);
  box-sizing: border-box;
}

.full-width-box .inner-content {
  display: flex;
  flex-direction: column;
  width: var(--main-width); 
  max-width: var(--main-max-width);
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  text-align: center;
  box-sizing: border-box;
}

.full-width-box .inner-content-left {
  display: block;
  text-align: left;
  align-items: flex-start;
}

.full-width-box-primary {
  background-color: var(--body-background-color);
}

.full-width-box-secondary {
  background-color: var(--second-body-background-color);
  border-top: 4px solid var(--line-dark-color);
  border-bottom: 4px solid var(--line-dark-color);
}

.inner-image {
  width: 120%; /* Image is 120% of the container width */
  max-width: 100vw; /* Prevent the image from exceeding the viewport width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  box-sizing: border-box;
}

.cards-container {
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
}

.card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h4 {
    font-size: 1.5em;
    color: #0056b3;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    margin: 10px 0;
    color: #555;
}

.card a.btn {
    margin-top: auto;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #0056b3;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.card a.btn:hover {
    background-color: #003d80;
}

.name-highlight {
  font-weight: bold;
  color: var(--highlight-color);
}


/* Filter Menu */
.filter-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.filter-btn.active {
  background: #007bff;
  color: white;
}

.filter-btn:hover {
  background: #0056b3;
  color: white;
}

/* Skills Grid */
.skills-grid {
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 90vw;
}

/* Card Design */
.skill-card {
  background: white;
  border-radius: 8px;
  width: 120px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Ensures proper vertical alignment */
  padding: 10px; /* Adjusted padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s;
}

.skill-card img {
  height: 50px;
  max-height: 70px;
  max-width: 120px;
  width: auto;
  margin-top: 10px;
  margin-bottom: auto; /* Creates space between the image and name */
}

.skill-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.skill-card p strong {
  margin-top: auto; /* Pushes the skill name closer to "Years of Use" */
}

.skill-card .years-of-use {
  font-weight: bold;
  font-size: 12px; /* Slightly smaller font for balance */
  color: #333;
  margin-bottom: 5px; /* Adjusts spacing from the bottom */
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Personal Note for Hover */
.skill-card .personal-note {
  display: none; /* Hidden by default */
  position: absolute;
  bottom: 2px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  opacity: 0; /* Smooth fade-in effect */
  transition: opacity 0.3s ease-in-out;
}

.skill-card:hover .personal-note {
  display: block;
  opacity: 1;
}
.breadcrumb {
  width: var(--main-width);
  max-width: var(--main-max-width);
  height: auto;
  padding-left: 15px;
  margin: 10px auto 0 auto;
  font-size: var(--breadcrumb-font-size);
  color: #555;
  box-sizing: border-box;
  text-align: left; 
}

.breadcrumb p {
  margin: 0;
  font-family: var(--breadcrumb-font); 
}


/* General Styling */
